# 1. Python Basics

Welcome to Data Science with Python and Jupyter (Lab). In the following lines we will give you a short and quick introduction to Python, Pandas and Scikit-learn. We will start with some Pythons Basics.

### The print() function and its parameters; the Syntax error

The first built-in function that we are using is the print() function.

In [1]:
#This is a comment.
print("Hello, World!") #string is printed here

Hello, World!

The `print()` function sends the argument data to the output cell. In this case, the argument "Hello, World!" is a string. Strings are delimited with quotes and the computer will consider them literally and not as code. The `print()` function can also output virtually all types of data provided by Python, such as integers or floats.

In [1]:
print(10)

10

In [2]:
print(10.4)

10.4

In [8]:
print('10')

10

In [9]:
try:
    print(1); print(2)
except: print('Invalid Syntax')

1
2

If you want to use the `print` function more than once, you should put each statement in a new line. Alternatively you could set a semicolon, however it's advisable to only write one instruction per line.

In [12]:
print(1)
print(2)

1
2

### Basic data types: integers, floats, strings, booleans and None & Variable Assignment/Conversions

Similar to various programming languages, you can assign different values (integer, float, string, boolean etc.) to variables using the simple <br>
'*variable_name* = _value_' construct.

#### Integers

Integers are numbers that do not contain a fractional part. Negative integers are preceded by a minus sign -.

In [11]:
# integer
x = 3
x

3

In [14]:
print(-4)

-4

#### Floats

Floating-point numbers (or commonly called floats) are numbers that do contain a fractional part. The integer part is separated from the fractional part by a decimal point ..

In [15]:
# float
y = 0.5
y

0.5

#### Strings

Strings are what we coloquially call text. They can be inclosed inside quotes "This is a string." or apostrophes 'This is also a string.'. When printing, the quotation used is not shown.

In [17]:
# string
s1 = "abc"
print(s1)

abc

In [18]:
# you can easily concatenate two strings into a new one using the '+' operator
s2 = 'def'
s3 = s1 + s2
print(s3)

abcdef

#### Booleans

Booleans are a bit more abstract than the above mentioned data types. They represent the value of truthfulness. When asking to check if a number is greater than another, for instance, Python returns a boolean value to indicate if it is true or false.

In [20]:
# boolean
b = False
b

False

The boolean values are **not equivalent** to the strings "True" and "False", even though they seem the same when printing.

In [21]:
#These are not the same.
print(True)
print("True")

True
True

#### The None value

Frequently programming languages have a specific value to mean 'empty' or that 'there is no value here'. In Python that value is None.

In [22]:
print(None)

None

#### Variable conversions

It is sometimes convenient to transform a value from one data type to another. These conversions can be achieved with the functions `int()`, `float()`, `str()` and `bool()`.

In [23]:
# Variable to integer
int(y)

0

In [24]:
# Variable to float
float(5)

5.0

In [25]:
# Variable to string
str(x)

'3'

In [26]:
# Variable to bool
bool(1)

True

In [29]:
bool(0)

False

Some values are not suitable to be converted into an integer and a value error is returned if `int()` is used.

In [30]:
print(int("This is not an integer!"))

ValueError: invalid literal for int() with base 10: 'This is not an integer!'

As with `int()`, `float()` returns an error if it cannot convert the argument into a float.

In [31]:
print(float("This is not a float!"))

ValueError: could not convert string to float: 'This is not a float!'

### Basic arithmetic operations

In [32]:
# Addition (+)
x + y

3.5

In [33]:
# Subtraction (-)
x - y

2.5

In [34]:
# Multiplication (*)
x * 2

6

In [35]:
# Division - float (/)
x / y

6.0

In [36]:
5 / 2

2.5

In [37]:
# Division - integer (//)
5 // 2

2

In [38]:
# Exponentation or power (**)
x ** 2

9

In [39]:
# Modulo (%)
x % 2

1

---

# Exercises ad 1

## 1.1 
To study Data Science, Julia read 2 books. She read the first one in one week with 30 pages everyday. She read the second book in 13 days with 21 pages everyday. What is the total number of pages that Julia read?

In [ ]:
# YOUR CODE HERE

## 1.2
Felix used his savings of 2300 euros for some purchases. He spent 3/4 of his savings on furniture. He then spent 1/2 of his remaining savings on a fridge. How much money had Steve left on his savings after the purchases?

In [ ]:
# YOUR CODE HERE

## 1.3
Concatenate the joke with 3 times the response leaving a space between each string. The result should be: "How does Darth Vader like his toast? On the dark side. Ha Ha Ha"

In [16]:
joke = "How does Darth Vader like his toast? On the dark side."
response = "Ha"
joke + ' ' + (response + ' ')*3

'How does Darth Vader like his toast? On the dark side. Ha Ha Ha '

## 1.4
Use one of the string formatting methods to insert the values of the variables into a string.
Write the string in a single statement but DO NOT write the quantities "by hand".
The result should be: "In the fridge there are 15 yogurts, 0.5 liters of milk and 4 eggs."

In [42]:
# YOUR CODE HERE
yogurt = 
milk = 
eggs =

In the fridge there are 15 yogurts, 0.5 liters of milk and 4 eggs.
In the fridge there are 15 yogurts, 0.5 liters of milk and 4 eggs.

---

# 2. Python built-in data objects

## Tuples

A Tuple is a Python data structure type that has a collection of data that once created **cannot be changed**. It is ordered and accepts duplicated elements. Elements on a tuple should be between brackets () and separated by commas ,. A tuple can have as many elements as we want, and it can have elements of different types.

In [43]:
# Let's create our first tuple
t1 = (1,2,3,1,2)
t1

(1, 2, 3, 1, 2)

In [44]:
type(t1) #This function returns the variable type of this_tuple

tuple

It is possible to create a tuple with elements of multiple types.

In [45]:
t2 = ('1', 1, 'banana', -0.67)
t2

('1', 1, 'banana', -0.67)

We can use the function `len()` in order to check how many elements a tuple has.

In [46]:
len(t2)

4

To access values of a tuple, we can use positive indexing/slicing:

In [48]:
t2[3]

-0.67

In [49]:
t2[len(t2)-1]

-0.67

In [50]:
t2[0:2]

('1', 1)

... and negative indexing/slicing:

In [51]:
t2[-1]

-0.67

In [52]:
t2[-3:]

(1, 'banana', -0.67)

In [53]:
t2[-2:-1]

('banana',)

In [55]:
t2[4:5]

()

Tuples are **immutable** which means that they are unchangeable, so if we try to assign a new value to a tuple that already exist it will generate an error.

In [17]:
try:
    t2[0] = 0
except:
    raise Exception('Error: Tuple is not mutable!')

Exception: Error: Tuple is not mutable!

You can unpack a tuple by using the following construct:

In [58]:
# unpack tuple and assing values to new variables
n1, n2, n3, n4, n5 = t1

In [59]:
n1

1

In [60]:
n2

2

In [63]:
n3

3

## Lists

A list is also a collection of data. Lists can be changed after being created. Lists accept duplicated values. After creation, the elements are kept on the same position until explicitly changed. The elements on a list are between square brackets [] and are separated by commas ,. It can have multiple types of data inside the same list.

In [64]:
l1 = [1,2,3,1]
l1

[1, 2, 3, 1]

In [65]:
l2 = ['a', 'b', 'a']
l2

['a', 'b', 'a']

In [66]:
l3 = ['1', 2, 'c']
l3

['1', 2, 'c']

### List vs. Tuple

Besides the notation, the main difference between tuples and lists is that lists are changeable. This means that, contrary to tuples, we can change, append or delete elements on a list after creation.
Regarding length checking, indexing, slicing and element verification, they are done in the same way for lists as they were done for tuples.
Functions `len()` and `type()` as well as indexing and slicing can also be used with lists.

In [67]:
len(l1)

4

In [68]:
type(l1)

list

In [69]:
l1[0]

1

In [18]:
l2[1] = l3[2]
l2

NameError: name 'l3' is not defined

In [71]:
l4 = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
l4

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

#### List indexing & Co

In [72]:
l3[0]

'1'

In [73]:
l3[-1]

'c'

In [74]:
l3[0:2]

['1', 2]

In [75]:
l3[-2:]

[2, 'c']

In [76]:
l4[0]

[1, 2, 3, 4]

In [77]:
l4[1]

[5, 6, 7, 8]

In [78]:
l4[0][1:3]

[2, 3]

In [80]:
l3.append(['new',1])
l3

['1', 2, 'c', 'new', ['new', 1]]

In [81]:
l3[4]

['new', 1]

In [82]:
l3.remove('new')
l3

['1', 2, 'c', ['new', 1]]

In [83]:
len(l3)

4

#### Element verification 
The methodology to check if an element is in a list, is the same as the one we learned for tuples.

In [84]:
l3

['1', 2, 'c', ['new', 1]]

In [85]:
# Let's confirm that 'c' is the list l3
'c' in l3

True

In [86]:
# Let's check if 1 is the list l3
1 in l3

False

## Dictionaries

A dictionary is a collection of key-value pairs. It doesn't support duplicated keys. Each unique key is mapped to a value. Keys and values can be of any type.
Dictionaries are unordered. Being unordered implies that the elements don't have a specific position and, therefore, you cannot search for a element by position.
They are also mutable. It means that we can append, delete and update key-value pairs on a dictionary after its creation.
In a dictionary, key-value correspondence should be done with a colon :, and consecutive pairs should be separated by commas ,. All pairs should be between curly brackets {}.

In [87]:
my_dict = {'Germany': 'Berlin', 'USA': 'Washington', 'France': 'Paris'}
my_dict

{'Germany': 'Berlin', 'USA': 'Washington', 'France': 'Paris'}

In [90]:
# call the content
my_dict['Germany']

'Berlin'

In [91]:
my_dict_duplicate = {'Germany': 'Berlin', 'USA': 'Washington', 'France': 'Paris', 'Germany': 'Börlin'}
my_dict_duplicate
# what do you expect?

{'Germany': 'Börlin', 'USA': 'Washington', 'France': 'Paris'}

Thus, it is **not possible** to have **duplicated keys** in a python dictionary. The key-value pair keeps the last value assigned to a key.

In [92]:
# show keys (keys are not mutable)
my_dict.keys()

dict_keys(['Germany', 'USA', 'France'])

In [93]:
# show values
my_dict.values()

dict_values(['Berlin', 'Washington', 'Paris'])

In [94]:
my_dict_2 = {1: 'one', 2: 'two', 3: 'three', 4:'four'}
my_dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [96]:
# replace an existing value
my_dict_2[1] = 'eins'
my_dict_2

{1: 'eins', 2: 'two', 3: 'three', 4: 'four'}

In [97]:
# add new value to a dictionary
my_dict_2[5] = 'five'
my_dict_2

{1: 'eins', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [95]:
# create a dictionary of dictionaries
my_dict_of_dicts = {'dict_1': {'a': 10, 'b': 20, 'c': 30}, 'dict_2': {1: 'a', 2: 'b', 3: 'c'}}
my_dict_of_dicts

{'dict_1': {'a': 10, 'b': 20, 'c': 30}, 'dict_2': {1: 'a', 2: 'b', 3: 'c'}}

In [98]:
my_dict_of_dicts.keys()

dict_keys(['dict_1', 'dict_2'])

In [99]:
my_dict_of_dicts.values()

dict_values([{'a': 10, 'b': 20, 'c': 30}, {1: 'a', 2: 'b', 3: 'c'}])

In [100]:
len(my_dict_2)

5

In [101]:
len(my_dict_of_dicts)

2

In [102]:
len(my_dict_of_dicts['dict_1'])

3

In [103]:
my_dict

{'Germany': 'Berlin', 'USA': 'Washington', 'France': 'Paris'}

In [104]:
'Germany' in my_dict

True

In [105]:
'Paris' in my_dict

False

---

# Exercises ad 2

### 2.1
Create a tuple of floats named this_tuple with size 5.

In [128]:
### YOUR CODE HERE

### 2.2
Considering the following tuple:

In [2]:
color = ("red", "blue", "green", "yellow", "black", "white")

Using negative indexing, assign the index of the element "green" to the variable green_index.

In [22]:
### YOUR CODE HERE
#hint: the solution should be a number
green_index = color.index('green')
color[green_index]

'green'

### 2.3
Extract ("green", "blue", "red") from tuple color.

In [3]:
### YOUR CODE HERE
color[2::-1]

('green', 'blue', 'red')

### 2.4
Write a list named this_list with length five and with the string "banana" on negative index -4.

In [3]:
### YOUR CODE HERE

### 2.5
Giving the list ice_cream, delete "chocolate" and append "dulce de leche".

In [4]:
ice_cream = ["lemon", "stracciatella", "pistacchio", "chocolate", "vanilla"]
# YOUR CODE HERE

### 2.6
Create a dictionary called this_dict with 5 key-value pairs where the keys are strings and values are lists.

In [5]:
# YOUR CODE HERE

### 2.7
Considering the following dictionary named groceries:

In [135]:
groceries = {             
             "bread": {"type": "grains", "price_per_unit": 2, "quantity_purchased": 1},   
             "onions": {"type": "vegetables", "price_per_unit": 0.5, "quantity_purchased": 2},   
             "spinages": {"type": "vegetables" , "price_per_unit": 1.5, "quantity_purchased": 1}   
            }

Write a notation that we should use in order to extract "grains"

In [6]:
# YOUR CODE HERE

### 2.8
Considering the dictionary groceries, update the price_per_unit for bread from 2 to 3.

In [7]:
# YOUR CODE HERE

### 2.9
Add rice to our groceries. It should be of type grains, with a price per unit of 1 and in quantity 2.

In [8]:
# YOUR CODE HERE

### 2.10
Extract keys and values of the dictionary groceries

In [9]:
# YOUR CODE HERE

---