# 4. Pandas - Intro Data Structures (1)

## What is pandas?

Pandas is a 'package' that contains data structures and data manipulation tools designed to make data cleaning and analysis fast and easy in Python.

In this notebook the most basic functionalities will be covered.

### How do I use it?

In [1]:
# We import pandas as "pd". This is not required, but it's standard. 
import pandas as pd

### Pandas Data Structures

There are two main data structures on pandas:
- **Series** - A One-dimensional array of data of the same type. More documentation on Series is available on: [Pandas Series Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)


- **Dataframes** - Tabular structure that may be seen as a container of series (that may have different types). Be aware that is also possible to have one-dimensional array of data as a DataFrame. More documentation on Dataframes is available on: [Pandas Dataframes Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

## Series

Creating a series in pandas is really easy. We will start by creating a series of numbers and print it to see how it look likes.

In [2]:
s1 = pd.Series([4, 7, 2, 10, 3, 8])
s1

0     4
1     7
2     2
3    10
4     3
5     8
dtype: int64

The defined values have the given index: from 0 to the length of the data minus 1 -> 5. Notice as well that the series has one and only one type of data, in this case `int64`. Pandas is quite clever inferring what kind of data is passed to it. Additonally it's possible to observe that the order of the data has been maintained.

Let's see what will happen if we pass it some floats, instead of ints:

In [3]:
s2 = pd.Series([4, -7.5, 2, 10, 3.2, 8])
s2

0     4.0
1    -7.5
2     2.0
3    10.0
4     3.2
5     8.0
dtype: float64

Ok, so now it's a `float64` series.

Next up, the same, but this time with some strings:

In [4]:
s3 = pd.Series(["Google", "Apple", "Microsoft", "Facebook"])
s3

0       Google
1        Apple
2    Microsoft
3     Facebook
dtype: object

Ok, this time it was considered `object`. Objects are types of data that can point to different types of data as we may see in the example below.

Fair question: what happens if you pass it a mix of stuff?

In [5]:
s4 = pd.Series([1.2, 5.3, "it\'s a string", -4])
s4

0              1.2
1              5.3
2    it's a string
3               -4
dtype: object

Well, when everything is mixed, it makes it an object!

Series have a class attribute that shows us their data type. It's called **dtype** and can be used like this:

In [6]:
s1.dtype

dtype('int64')

In [7]:
s4.dtype

dtype('O')

# Indexing

In [8]:
s4[1]

5.3

How do you get the first element of a series?

In [ ]:
### Your code here

Even though by default the index is _0, 1, 2, 3..._ it is often useful to set a different index.

In [9]:
s5 = pd.Series(data=["Harry", "Jone", "Julia", "Sara"], 
               index=["Google", "Apple", "Microsoft", "Facebook"])
s5

Google       Harry
Apple         Jone
Microsoft    Julia
Facebook      Sara
dtype: object

In [10]:
s5["Apple"]

'Jone'

We can also get all the values (still a bit like a dictionary):

In [11]:
s5.values

array(['Harry', 'Jone', 'Julia', 'Sara'], dtype=object)

Or the indexes (like the `.keys()` of the dictionary)

In [12]:
s5.index

Index(['Google', 'Apple', 'Microsoft', 'Facebook'], dtype='object')

Speaking of dictionaries, can I make a Pandas Series from a dictionary?

In [13]:
d = {"Google": "Harry", "Apple": "Jone", "Microsoft": "Julia", "Facebook": "Sara"}
s6 = pd.Series(d)
s6

Google       Harry
Apple         Jone
Microsoft    Julia
Facebook      Sara
dtype: object

Yes!! The Series class will automatically use the keys of the dictionary as indexes of the series and its correponding data as the data of the series as well. The interesting part of using this is that we now are able to have some functionalities that we usually don't have in dictionaries.

In [14]:
try:
    d[-1:]
except:
    print("TypeError")

TypeError

In [15]:
s6[-1:]

Facebook    Sara
dtype: object

---

## DataFrames

As mentioned previously, a dataframe is a tabular structure (think "Excel sheet"). This will become clear with the following examples.

Let's create our first DataFrame:

In [16]:
df1 = pd.DataFrame([[1,   2,   3,    5], 
                    [14.3, 16.7, 18.1, 12.2], 
                    ["a", "b", "c", "d"] ],
                    columns=["col_1", "col_2", "col_3", "col_4"],  # <-- The column names
                    index=["row_1", "row_2", "row_3"]) # <-- The row names

In [17]:
df1

      col_1 col_2 col_3 col_4
row_1     1     2     3     5
row_2  14.3  16.7  18.1  12.2
row_3     a     b     c     d

So far we've creatad a DataFrame from lists, like so:

In [18]:
company = ["Google", "Apple", "Microsoft", "Facebook"]
founder_name = ["Page", "Jobs", "Gates", "Zuckerberg"]
foundation_year = [1998, 1976, 1975, 2004]

df2 = pd.DataFrame( [company, founder_name, foundation_year])

In [19]:
df2

        0      1          2           3
0  Google  Apple  Microsoft    Facebook
1    Page   Jobs      Gates  Zuckerberg
2    1998   1976       1975        2004

We can make a dictionary with the lists as values, where the keys will be the column names. Let's create the dictionary first, using the lists we have defined above:

In [20]:
companies_dictionary = {
    'company': ["Google", "Apple", "Microsoft", "Facebook"],
    'founder_name': ["Page", "Jobs", "Gates", "Zuckerberg"],
    'foundation_year': [1998, 1976, 1975, 2004]
}

Now we can simply pass this dictionary to a Pandas DataFrame:

In [21]:
df3 = pd.DataFrame(companies_dictionary)

In [22]:
df3

     company founder_name  foundation_year
0     Google         Page             1998
1      Apple         Jobs             1976
2  Microsoft        Gates             1975
3   Facebook   Zuckerberg             2004

What is the difference in the presentation of this data?

Let's make some Series, using the company name as index:

In [23]:
series_of_founder_name = pd.Series(data=founder_name, # <-- data 
                                    index=company)      # <-- index

In [24]:
series_of_founder_name

Google             Page
Apple              Jobs
Microsoft         Gates
Facebook     Zuckerberg
dtype: object

In [25]:
series_of_foundation_year = pd.Series(data=foundation_year, # <-- different data
                                    index=company)        # <-- same index

In [26]:
series_of_foundation_year

Google       1998
Apple        1976
Microsoft    1975
Facebook     2004
dtype: int64

Now with these two Series we can create a DataFrame! Pandas will notice that they have the same index, and will give the DataFrame that index:

In [27]:
df4 = pd.DataFrame({'founder_name': series_of_founder_name,  
                    'foundation_year': series_of_foundation_year})

In [28]:
df4

          founder_name  foundation_year
Google            Page             1998
Apple             Jobs             1976
Microsoft        Gates             1975
Facebook    Zuckerberg             2004

By passing series (in this case sharing the index) as values of a dictionary, the model is able to use the key value as column name and the index as the row name. The column and index(row) are also acessible, as will be shown below.

Get index, with `.index`:

In [29]:
df4.index

Index(['Google', 'Apple', 'Microsoft', 'Facebook'], dtype='object')

Get the columns, with `.columns`:

In [30]:
df4.columns

Index(['founder_name', 'foundation_year'], dtype='object')

We can also use `dtypes` to know the type of each series of the dataframe:

In [31]:
df4.dtypes

founder_name       object
foundation_year     int64
dtype: object

### Visualizing the DataFrame or part of it

To visualize a DataFrame, using a jupyter-notebook, printing will display it (as seen previously).

In [32]:
df4

          founder_name  foundation_year
Google            Page             1998
Apple             Jobs             1976
Microsoft        Gates             1975
Facebook    Zuckerberg             2004

In the case that the dataframe has a lot of entries, it will be only partially displayed. Nonetheless, it might still be too much information being displayed at once. The methods `.head` and `.tail` print the n top and bottom, respectively, lines of the dataframe.

In [33]:
df4.head(2)

       founder_name  foundation_year
Google         Page             1998
Apple          Jobs             1976

In [34]:
df4.tail(2)

          founder_name  foundation_year
Microsoft        Gates             1975
Facebook    Zuckerberg             2004

### Getting the relevant info

With pandas' [info](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.info.html) it possible to obtain:
- How many entries it has.
- The total number of columns.
- The title of each column.
- The number of entries that in fact exists in each column. Does not consider misssing values.
- The type of data of the entries of a given column.

In [35]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Google to Facebook
Data columns (total 2 columns):
founder_name       4 non-null object
foundation_year    4 non-null int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

For the **NUMERICAL** variables it's also possible to print some more information using [describe](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html), namely:

- The number of rows for each of those columns.
- The mean value.
- The standard deviation.
- The minimum and maximum value.
- The median, the 25th and 75th percentile.

In [36]:
df4.describe() # doesn't make a lot sense for the variable year though

       foundation_year
count         4.000000
mean       1988.250000
std          14.930394
min        1975.000000
25%        1975.750000
50%        1987.000000
75%        1999.500000
max        2004.000000

Finally, [shape](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.shape.html) returns a tuple with the dimensions of the dataframe (nr_rows, nr_columns).

In [37]:
df4.shape

(4, 2)

## Reading from the disk

Pandas framework has implemented functions that allow us to create dataframes form different types of data:

- CSV
- JSON
- HTML
- ... and [many more](https://pandas.pydata.org/pandas-docs/stable/io.html)

All of this is possible by using the read_*dataFormat*. With it is possible to create a dataframe and apply all the previously shown techniques. 

For instance, using the 2010 census profile and housing characteristics of the city of Los Angeles ([source](https://catalog.data.gov/dataset/2010-census-populations-by-zip-code)):

In [38]:
data = pd.read_csv("Data/2010_Census_Populations_by_Zip_Code.csv")

How does the data look like? Use methods mentioned above.

In [39]:
### Your code here
data.describe()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
count,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000
mean,91000.673981,33241.341693,36.527586,16391.564263,16849.777429,10964.570533,2.828119
std,908.360203,21644.417455,8.692999,10747.495566,10934.986468,6270.646400,0.835658
min,90001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90243.500000,19318.500000,32.400000,9763.500000,9633.500000,6765.500000,2.435000
50%,90807.000000,31481.000000,37.100000,15283.000000,16202.000000,10968.000000,2.830000
75%,91417.000000,44978.000000,41.000000,22219.500000,22690.500000,14889.500000,3.320000
max,93591.000000,105549.000000,74.000000,52794.000000,53185.000000,31087.000000,4.670000

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 7 columns):
Zip Code                  319 non-null int64
Total Population          319 non-null int64
Median Age                319 non-null float64
Total Males               319 non-null int64
Total Females             319 non-null int64
Total Households          319 non-null int64
Average Household Size    319 non-null float64
dtypes: float64(2), int64(5)
memory usage: 17.6 KB

## Writing to the disk

Besides reading from the disk, Pandas allows us to also write and save our dataframe after we performed some transformations to the data.

The same way we can read data from various data types, we can also write data to various data types (CSV, JSON, HTML, ...)

All of this is possible by using the to_*dataFormat*, giving as an argument the path where you want to save the file:

In [41]:
data.to_csv("Data/test_csv.csv")

---

# Exercises ad 4

### Create a pandas Series with some countries, capital and population

In [ ]:
# Create a pandas Series from the list ['Denmark', 'Finland', 'Iceland', 'Norway', 'Greenland', 'Faroe Islands']
countries = ... ### your code here
# Create a pandas Series from the list ['Copenhagen', 'Helsinki', 'Reykjavík', 'Oslo', 'Nuuk', 'Tórshavn']
capitals = ... ### your code here
# Create a pandas Series from the list [5724456, 5498211, 335878, 5265158,56483,49188]
pop = ... ### your code here

### Create a pandas DataFrame

In [ ]:
nordic_countries = ... ### your code here

### Load the file _iris.csv_

In [ ]:
iris = ... ### your code here

### Get info about the DataFrame

In [ ]:
### your code here

### Print the top 10 entries

In [ ]:
### your code here

### Print the bottom 10 entries

In [ ]:
### your code here

### Get the shape of the DataFrame

In [ ]:
### your code here

### Get more information about the numerical features

In [ ]:
### your code here

---

# 5. Pandas - Data Processing (2)

## Indexing 

An **index** is a labeling that allows us to locate data points across a Dataframe or series more easily. 

Both rows and columns have these labels, and usually we refer loosely to the rows indices as **index** and the column indices as **column names**. Proper indexing is what provides us with efficient ways of finding data across our datasets.

**Indexing** is then the process of selecting particular rows and columns of data from a DataFrame, using this address system.

In [ ]:
# Read the data in file netflix_titles.csv into a pandas DataFrame and use column show_id as the DataFrame index.

In [ ]:
movies = pd.read_csv('Data/netflix_titles.csv', index_col = 'show_id')

In [ ]:
movies.head(5)

## Selecting columns

As mentioned before, **indexing** is what we call the process of selecting particular rows and columns of data from a DataFrame. We'll start by seeing how we can make use of the columns' indices - the __column names__ - to perform this task. 

There are two ways of doing this:

* using dot notation (`dataframe.column_name`)
* using braket notation (`dataframe[column_name]`)

In [ ]:
movies.title

In [ ]:
movies["director"]

Now try selecting multiple columns, such as __country__ and __release_year__. Notice that the output of the multiple selection is now a __Dataframe__ itself, containing the index and both columns selected

In [ ]:
movies[["country", "release_year"]]

## Selecting rows

We'll now use the rows labels - the dataframe index - to select rows. We will show you two ways of doing this:

* Selecting rows by index position (`iloc`)
* Selecting rows by index labels (`loc`)

### Selecting rows by index position - iloc

With function `iloc` you can select specific rows from a DataFrame, by their position in the index. To do this, you specify one integer, a list of integers or a slice. All indices specified should be between 0 and Dataframe length minus 1 (remember that Python starts indexing with a 0)

See how you can select the first row with this method. Notice that the output produced is a __Series__.

In [ ]:
movies.iloc[0]

Now use a list of indices to fetch multiple rows. Notice that the output produced is now a __Dataframe__.

In [ ]:
movies.iloc[[0, 2, 4, 6]]

In [ ]:
# Get first 4 rows
movies.iloc[:4]

In [ ]:
# Get all rows from row 5432 to the last row
movies.iloc[5432:]

Another possibility when slicing is to pick only part of the elements in the provided range, by a given __step__. This will mean that we only select one row every `step` rows. This notation follows:

`start_row:end_row:step`

See how this works by selecting the first 10 columns with a step of 2.

In [ ]:
movies.iloc[0:10:2,:]

In [ ]:
movies.iloc[0:10:2,[0, ??]]

### Selecting rows by index name - loc

Selecting by position is useful but oftentimes we want to specify the label to use to find a given row. You can do this with function `loc`. It follows the same notation of `iloc` but the content you are providing is an actual label. 

Let's see how you can do this. Start by selecting the row with __room_id__ 29396. Notice that once again, when you select only one row, a __Series__ object is returned.

In [ ]:
movies.loc[247747]

Similarly to the `iloc` function, you can also pass lists or slices of labels. You should get __Dataframe__ objects back.

In [ ]:
movies.loc[[247747,372195]]

## Multi-axis indexing

Selecting by rows or by columns corresponds to indexing by only one axis (we normally depict rows as axis 0 and columns as axis 1). However, one nice thing about loc and iloc is that it allows for multi-axis indexing, this is, we can select columns and rows at the same time. 

Let's use the `iloc` to select based on the position of the rows and columns to pick the last five rows and the first 3 columns.

In [ ]:
movies.iloc[-5:,:3]

Let's now use the `loc` to select based on the names of the rows and columns to pick the _title_ and _country_ of the show_id 347365 and 81224868.

In [ ]:
movies.loc[[347365, 81224868], ["title", "country"]]



## Subsetting data using mask and where 

When we are doing analysis on data, we usually want to filter it or select it according to certain conditons. Pandas dataframes provide two inbuilt methods that are useful to filter data according to a condition or a set of conditions:

* `DataFrame.mask` - Replace value when condition is true
* `DataFrame.where` - Replace value when condition is false



### Mask

The `mask` function replaces values when the condition passed is `True`, so it can be used to "hide" rows given a condition. These rows will have all values replaced by NaN:

In [ ]:
movies.mask(movies.release_year <= 1988)

You can leave only the non-hidden values by dropping the NaN rows. Pandas already provides a function for that, `dropna`. 

__Hint__: notice the argument `how=all` in the function. This means that only masked rows - rows where __all__ elements are set to `NaN` - are dropped.

In [ ]:
movies.mask(movies.release_year <= 1988).dropna(how='all')

## Where

The `where` function, on the other hand, can be used to hide the rows that __do not__ verify a certain condition, leaving only the rows that do verify it. The "hidden" rows will have all values replaced by NaN.

In [ ]:
movies.where(movies.release_year <= 1988)

Once again, we can leave only non-hidden values by using `dropna`

In [ ]:
movies.where(movies.release_year <= 1988).dropna(how='all')

Basically __mask__ and __where__ do the opposite of each other! One is used to choose data given a condition and the other one is used to hide data given a condition. Applying the same condition to both and dropping "hidden" rows, you'll get complementary sets of your data.

## Subsetting data on conditions

Besides relying on `mask` and `where`, we can also use the __bracket notation__ with conditions to subset data from the DataFrame. By doing this, we get a DataFrame that most likely has a different shape from the initial one, since it only returns the subset of its rows that satisfy the condition.

Let's subset the DataFrame to get all the movies released in 1988. Note the DataFrame shape!

__Note__:  this is different from what we saw in the mask/filter functions: those functions don't change the DataFame shape, instead, they just replace the values that we don't want with NaNs.

In [ ]:
movies[movies.release_year == 1988]

We can combine conditions, for example subsetting Tv Shows from 1988:

In [ ]:
movies[(movies.release_year == 1988) & (movies.type == 'TV Show')]

__Note the parenthesis around each condition, they're required!__

### Special conditions

There are different types of conditions you may want to provide, and it is useful to know some of the basics operators you can use to subset:

- values of a column are equal to a specific value: `==` works for any type
- values of a column are __not__ equal to a specific value: `!=` works for any type
- other basic operator on numeric values:
   - Greater than, less than: `>` or `<`
   - Greater than or equal to `>=`
   - Less than or equal to `<=`
- values of a column are in a list of values: `isin` method 
- negate conditions with `~`  

The first three are either represented above, or are small variations of it. Play around with those to see different outcomes. The last two, however, might seem new to you. Let's look a bit more into those.


#### Matching values in a list

Sometimes you don't want to test equality with one value, but instead you want to check for several possible values. Even though you could match with each of the values in your list, as shown below:

In [ ]:
# e.g. matching content in english
movies[movies.country.isin(["United States", "United Kingdom", "Australia", "New Zealand"])]

#### Negating a condition

What if we wanted to say that a given value is not in the desired list? Or if we just wanted to negate the conditions that were given to sample the "excluded" data. There are many ways to do this, but a very easy one is to use the `~` operator behind your conditions.

See the following examples to understand how this works. Let's start with a simple one using only one condition:

In [ ]:
movies[movies.type == 'Movie']

Negate the previous condition

In [ ]:
movies[~(movies.type == 'Movie')]

### Combining conditions

In many cases you will want to sample according to several conditions. As you see above, you should wrap your conditions in between parentheses. There are two main ways of combining conditions:

* AND: if you want to make sure your data satisfies all conditions
* OR: if you want to make sure your data satisfies one of the conditions

Even though python has `and` and `or` as regular keywords for this, for pandas subsetting you should use `&` and `|`. When using the logical operators  `and` and `or` you are implicitly asking Python to convert the conditions to boolean values. Numpy arrays and thus pandas columns have no truth value. So we need to use the bitwise operators, which numpy makes use of to do element-wise operations, since unlike their logical counterparts, they can be overriden to return specific output values.

In [ ]:
# Proper usage of & for element wise and
movies[(movies.type == 'Movie') & (movies.release_year >= 2019) & ~(movies.listed_in.isin(['Documentaries', 'Kids\' TV'])) & (movies.country == "United States")]

In [ ]:
# Proper usage of | for element wise and
movies[((movies.type == 'TV Show') | (movies.release_year >= 2019)) & (movies.listed_in.isin(['Dramas', 'Thrillers']))]

## Adding Rows & Columns

### Adding or replacing a row

We can use the `loc` indexing operation to add a new row in a dataframe with a specific index. If dataframe already has any row with that index name then this will replace the contents of that row. See below an example of adding a non existing label:

In [ ]:
new_movies_df = movies.copy()
original_size = len(new_movies_df.index)

# Add new movie to our dataframe with show_id=100
new_movies_df.loc[100] = ['TV Show','Gipfelstuermer','Jens Schnettler','Woodmark', 'Germany', 'June 25, 2020', 2016, '', '8 seasons', 'Documentaries', 'Roundhouse kick in the data world']
final_size = len(new_movies_df.index)

# Show our new movie
new_movies_df.loc[100]

In [ ]:
print('Size of dataframe before: {} \nSize of dataframe after: {}'.format(original_size, final_size))

### Adding or replacing a column

In the same way we did for rows, we can add a column to a daframe using the same notations that we used to select them, i.e., dot notation, brackets notation, or loc operator.

In [ ]:
# calculate the age of the movie instead of the release_year and replace it
new_movies_df['release_year'] = 2020 - new_movies_df.release_year

In [ ]:
new_movies_df.head()

In [ ]:
# you can create a new column instead
new_movies_df = movies.copy()
new_movies_df['age'] = 2020 - new_movies_df.release_year
new_movies_df.head()

## Removing Rows & Columns

Finally, you can also remove columns or rows from your dataset. In order to drop rows and columns from a DataFrame, we can use function `drop`. Here's how you drop a row:

In [ ]:
# This drops the row with index 247747. This is the same than doing drop(247747,axis=0)
movies.drop(labels=247747)

In order to drop a column, we do the following:

In [ ]:
# This drops column description. This is the same than doing drop('description',axis=1)
movies.drop(columns='description')

---